.gradient-button {
    padding: 5px;
    font-size: 4px;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  


  .gradient-button:hover {
    background-color: #555;
  }
  